

nav{
    width: 11%;
    height: 100%;
    background-color: black;
    position: fixed;
    transition-duration: 0.5s;
    box-shadow: 10px -9px 30px brown;
    color: white;
    transition: 1s;
}

nav.oculto{
    transform: translateX(-100%);
}


