/* Página toda */
*{
    margin: 0;
    font-family: 'Rammetto One', cursive;
   
}

html{
    width: 100%;
    height: 100%;
}


body{
    width: 100%;
    height: 100%;
    overflow: auto;
}




/* Nav bar menu e seus detalhes */
nav{
    width: 11%;
    height: auto;
    margin: 3% 0% 0%;
    background-color: rgba(0, 0, 0, 0.9);
    transition-duration: 0.5s;
    color: white;
    position: fixed;
    z-index: 1;
    border-radius: 10px;

}

.menu ul{
    margin: 25px 0px;
    border-bottom-color: indigo;    

}

.menu ul li{
    margin: 23px 0px;
    list-style-type: none;    

}
a{
    text-decoration: none; 
    color: white;
}
.redes-sociais{
    border: 23px white;
}
.rs{
    float: left;
    width: 33px;
    height: 38px;
    margin: 4px 8px 10px;

}




/* Titulo da Pagina */
header{
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 1;    
    
}

header h1{
    color: white;
    text-align: center;
    
}

form{
    text-align: center;

}

/*  Banner  */

.banner{
    width:100%;
    height: 59%;
    position: relative;
}

.banner-style{
    position: absolute;
    height: 100%;
    width: 100%;
    vertical-align: top;

}


/* Section sobre */
.sobre{
    width: 100%;
    height: auto;
    background-image: url(../img/fundo/fundo1.jpg);
    background-size: 100% auto;
    overflow: hidden;

}

.sobre h2{
    font-size: 40px;
}

.th{
    text-align: center;
}

.texto{
    font-size: 18px;
    margin: 9% 29% 4%;
    width: 50%;
}



/* roda pé */

footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 11%;

}
footer ul{
    float: left;
    list-style-type: none;
    margin: 0px 10px;

}
footer ul li{
    float: right;
    margin: 0px 73px;
}


.contato{
    text-align: center;
    margin: 0px 0px 4px;
}

