/* Página toda */
*{
    margin: 0;
    font-family: 'Rammetto One', cursive;
}

html{
    width: 100%;
    height: 100%;
}


body{
    width: 100%;
    height: 100%;
}

/* Nav bar menu e seus detalhes */

/* Nav bar menu e seus detalhes */
nav{
    width: 11%;
    height: auto;
    margin: 3% 0% 0%;
    background-color: rgba(0, 0, 0, 0.9);
    transition-duration: 0.5s;
    color: white;
    position: fixed;
    z-index: 1;
    border-radius: 10px;

}

.menu ul{
    margin: 25px 0px;
    border-bottom-color: indigo;    

}

.menu ul li{
    margin: 23px 0px;
    list-style-type: none;    

}
a{
    text-decoration: none; 
    color: white;
}
.redes-sociais{
    border: 23px white;
}
.rs{
    float: left;
    width: 33px;
    height: 38px;
    margin: 4px 8px 10px;

}


/* Titulo da Pagina */
header{
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 1;    
    
}

header h1{
    color: white;
    text-align: center;
    
}

form{
    text-align: center;

}

/* CONTEUDO PG */

.mpbrasil{
    width: 43%;
    height: 43%;
    margin-left: 30%;
    margin-top: 5%;
}

.mapabrasil{
    border: 1px solid black;
}

.card{
    border: 2px solid black;
    height: 100px;
    margin-right: 2%;
    margin-top: 36%;
    width: 15%;
    text-align: center;
    border-radius: 26px;
    padding: 1%;
}

.seta{
    width: 55px;
    height: 55px;
}

/* SECTION DOS ESSTADOS */

.estados{
    width: 100px;
    height: 60px;
}

.regiao{
    text-align: center;
    color: white;
    font-size: 50px;
}

.fundo{
    margin-left: 160px;
    
}

section div{
    float: right;
    margin: 26px;
    margin: 36px 11px;
}

section div img{
    justify-content: center;
}


section div p{
    text-align: center;
}
.cont-1{
    width: 100%;
    height: 75%;

}

.norte-1{
    background-image: url(../img/fundo/fundo-norte.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.nordeste-1{
    background-image: url(../img/fundo/fundo-nordeste1.jpg);
    background-attachment: fixed;
    background-size: cover;

}

.centro-1{
    background-image: url(../img/fundo/fundo-centro-oeste.jpg);
    background-attachment: fixed;
    background-size: cover;

}

.sudeste-1{
    background-image: url(../img/fundo/fundo-rj.jpg);
    background-attachment: fixed;
    background-size: cover;

}

.sul-1{
    background-image: url(../img/fundo/fundo-sul.jpg);
    background-attachment: fixed;
    background-size: cover;

}

/* roda pé */

footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 11%;

}
footer ul{
    float: left;
    list-style-type: none;
    margin: 0px 10px;

}
footer ul li{
    float: right;
    margin: 0px 73px;
}


.contato{
    text-align: center;
    margin: 0px 0px 4px;
}