/* Página toda */
*{
    margin: 0;
    font-family: 'Rammetto One', cursive;
}




/* Nav bar menu e seus detalhes */
nav{
    width: 11%;
    height: auto;
    margin: 3% 0% 0%;
    background-color: rgba(0, 0, 0, 0.9);
    transition-duration: 0.5s;
    color: white;
    position: fixed;
    z-index: 1;
    border-radius: 10px;

}

.menu ul{
    margin: 25px 0px;
    border-bottom-color: indigo;    

}

.menu ul li{
    margin: 23px 0px;
    list-style-type: none;    

}
a{
    text-decoration: none; 
    color: white;
}
.redes-sociais{
    border: 23px white;
}
.rs{
    float: left;
    width: 33px;
    height: 38px;
    margin: 4px 8px 10px;

}


/* Titulo da Pagina */
header{
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 1;    
    
}

header h1{
    color: white;
    text-align: center;
    
}

form{
    text-align: center;

}




/* Conteúdo Login */

.formulario{
    height: 174px;
    width: 409px;
    margin: 13% 30% 7%;
    text-align: center;
    padding: 0px 17px 0px;
    border: 10px solid black;
}

.row{
    width: 60%;
    margin: 10px 20px;
    border-radius: 9px;

}

/* 
.registrar{
    background-color: darkgoldenrod;
}

button{
    border-style: dashed;
    border-radius: 9px;
}


input{
    margin: 10px 10px;
    border-radius: 9px;
}

.sexo{
    text-align: initial;

} 

/* roda pé */

footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 11%;

}
footer ul{
    float: left;
    list-style-type: none;
    margin: 0px 10px;

}
footer ul li{
    float: right;
    margin: 0px 73px;
}


.contato{
    text-align: center;
    margin: 0px 0px 4px;
}


