/* Página toda */
*{
    margin: 0;
    font-family: 'Rammetto One', cursive;
}

html{
    width: 100%;
    height: 100%;
}


body{
    width: 100%;
    height: 100%;
}

/* Nav bar menu e seus detalhes */
nav{
    width: 11%;
    height: auto;
    margin: 3% 0% 0%;
    background-color: rgba(0, 0, 0, 0.9);
    transition-duration: 0.5s;
    color: white;
    position: fixed;
    z-index: 1;
    border-radius: 10px;

}

.menu ul{
    margin: 25px 0px;
    border-bottom-color: indigo;    

}

.menu ul li{
    margin: 23px 0px;
    list-style-type: none;    

}
a{
    text-decoration: none; 
    color: black;
}
.redes-sociais{
    border: 23px white;
}
.rs{
    margin: 4px 8px 10px;

}




/* Titulo da Pagina */
header{
    width: 100%;
    background-color: black;
    position: relative;
    z-index: 1;    
    
}

header h1{
    color: white;
    text-align: center;
    
}

form{
    text-align: center;

}


/* Conteúdo Login */
section{
    width: 100%;
    height: 60%;
}



/* roda pé */

footer{
    background-color: black;
    color: white;
    width: 100%;
    height: auto;

}
footer ul{
    list-style-type: none;
    margin: 0px 121px;

}

.contato{
    text-align: center;
    margin: 0px 0px 4px;
}
